{% extends 'layout.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<div>
    <h1 id="heading"></h1>
</div>
<div>
    <canvas id="mdd_chart"></canvas>
</div>
<script>
    const url = location.pathname + '/detail';
    (async () => {
        const options = { method: 'GET', headers: { Accept: 'application/json' } };
        const res = await fetch(url, options);
        const { market, histories } = await res.json();
        console.log(histories);

        document.querySelector('#heading')
            .textContent = `${market.ticker} | ${market.korean_name} | ${market.english_name}`;

        const data = {
            datasets: [{
                label: `${market.ticker} 30 DAYS MDD`,
                backgroundColor: '#039be5',
                borderColor: '#039be5',
                data: histories,
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                parsing: {
                    xAxisKey: 'date',
                    yAxisKey: 'mdd',
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('mdd_chart'),
            config,
        );
    })();
</script>
{% endblock %}