{% extends 'layout.html' %}

{% block content %}
<div>
  <table role="grid">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">코인명</th>
        <th scope="col">최고가</th>
        <th scope="col">현재가</th>
        <th scope="col">MDD</th>
      </tr>
    </thead>
    <tbody>
      {% set count = 1 %}
      {% for mdd in mdds %}
      <tr>
        <td>{{ count }}</td>
        <td><a href="/market/{{ mdd.market }}">{{ mdd.korean_name }}</a></td>
        <td>{{ mdd.highest_price }}</td>
        <td>{{ mdd.current_price }}</td>
        <td>{{ mdd.mdd }}%</td>
      </tr>
      {% set count = count + 1 %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}