{% extends 'layout.html' %}

{% block content %}
<form action="/" method="GET">
  <div class="grid">
    <div style="width: 25%;"></div>
    <input type="text" name="q" list="coin_list">
    <datalist id="coin_list">
      {% for mdd in mdds %}
      <option value="{{ mdd.ticker }}">
      <option value="{{ mdd.korean_name }}">
      <option value="{{ mdd.english_name }}">
      {% endfor %}
    </datalist>
    <button type="submit">검색</button>
    <div style="width: 25%;"></div>
  </div>
</form>
<hr>
<div>
  <table role="grid">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">코인명</th>
        <th scope="col">최고가</th>
        <th scope="col">현재가</th>
        <th scope="col">MDD</th>
      </tr>
    </thead>
    <tbody>
      {% set count = 1 %}
      {% for mdd in mdds %}
      <tr>
        <td>{{ count }}</td>
        <td><a href="/markets/{{ mdd.market }}">{{ mdd.korean_name }}</a></td>
        <td>{{ mdd.highest_price }}</td>
        <td>{{ mdd.current_price }}</td>
        <td>{{ mdd.mdd }}%</td>
      </tr>
      {% set count = count + 1 %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}