{% extends 'layout.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<div>
    <h1>가장 많이 검색한 코인</h1>
</div>
<div>
    <canvas id="chart"></canvas>
</div>
<script>
    const url = location.pathname + '/detail';
    (async () => {
        const options = { method: 'GET', headers: { Accept: 'application/json' } };
        const res = await fetch(url, options);
        const { ranking } = await res.json();

        const data = {
            datasets: [{
                label: 'Ranking',
                backgroundColor: '#039be5',
                borderColor: '#039be5',
                data: ranking,
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                parsing: {
                    xAxisKey: 'market_origin.korean_name',
                    yAxisKey: 'count',
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('chart'),
            config,
        );
    })();
</script>
{% endblock %}